@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



/* ========= Header ========== */


header {
    background-color: #fff;
    width: 100%;
    position:static;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px 0px 150px;
    border-bottom: #e7dfff solid 1px;
}


.navbar a{
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;
    color: #7b57fb;
    padding: 30px;
}




.b1 {
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 12px 30px;
    border-radius: 29px;
    font-size: medium;
    font-weight: 450;
    text-decoration: none;
    margin: 0 62px;
    background-color: #7b57fb;
    border: 0.125em solid #7b57fb;
    transition: 0.7s ease;
    border: none;
}
.b1:hover{
    background-color: #e7dfff;
    border: none;
    transform: scale(1.001);
    color: #7b57fb;
}

.b2 {
    cursor: pointer;
    border: 0.125em solid #7b57fb;
    background-color: #7b57fb;
    padding: 12px 30px;
    border-radius: 15px;
    color: #fff;
    font-size: large;
    font-weight: 500;
    margin: 0 -129px;

}



/* ================= */



.title1 {
    color: #7b57fb;
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 40px;
    margin-top: 100px;


}

.paragraf{
    color : rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 10px;
    
}  

.paragraf2{
    color : rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 40px;
    
} 



/* ========= */


.card-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap:wrap;
    
}


.card {
    
    width: 350px;
    height: 450px;
    margin: 30px;
    background: #fff;
    border-radius: 15px;
    overflow:hidden;
    border-top: 1px solid rgb(208, 208, 208);;

}
   
.card .card-border-top {
    width: 60%;
    height: 3%;
    background: #e7dfff;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}
   
.card span {
    font-weight: 700;
    color: #7b57fb;
    text-align: center;
    display: block;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
   
.card .job {
    font-weight: 500;
    color: #7b57fb;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 15px;
}

.card .description{
    font-weight: 500;
    color:gray;
    display: block;
    text-align: center;
    padding-top: 30px;
    font-size: 15px;   
}
   
.card .img {
    width: 150px;
    height: 150px;
    background:url(/img/pic7.jpg);
    background-size:cover;
    border-radius: 100%;
    margin: auto;
    margin-top: 25px;
}
   



  /* =====نص المنتجات====*/

.section-title span {
    padding-bottom: 5px;
    font-weight: 700;
    font-size: larger;
    color: #7b57fb;
    
}
 

.sp-after {
    position: relative;
    margin-right: 230px;
}
  
.sp-after::after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 105px;
    width: 755px;
    height: 1px;
    background-color: #e7dfff;
}
  





  /* =====cards of products======= */
  

.theCards {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap:wrap;
    
}

.ProjectCard {
    background-color: #e7dfff;
    border: 1px solid #f8f8f8;
    min-height: 10em;
    width: 20em;
    overflow: hidden;
    border-radius: 17px;
    margin: 20px;
    transition: 0.7s ease;
}

.ProjectCard:hover {
    transform: scale(1.06);
}

.ProjectCard:hover .ProjectImg{
    opacity: 0.9;
}


.ProjectImg img {
    width: 100%;
}


.ProjectInfo {
    padding: 1em;
}

.ProjectDescription {
    font-size: 0.9em;
    font-weight: 700;
    color: #212121;
}

.ProjectTitle {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-top: 10px;
}

.ProjectTitle span {
    color:#3614a1;
}

.price {
    text-decoration: none;
    background-color: #212121;
    width: 63px;
    text-align: center;
    padding: 2px;
    border-radius: 17px;
    color: #e7dfff;
}

.price:hover {
    color:#e7dfff;
    background-color: #7b57fb;
}
a{
    text-decoration: none;
}


 




/* ------------ section footer ------------- */

footer{
    width: 100%;
    position:static;
    margin-top: 100px;
    background: #7b57fb;
    color: #e7dfff;
    padding: 100px 0 30px;
    /* border-top-right-radius: 120px; */
    /* border-top-left-radius: 120px; */
    font-size: 17px;

}

.row1{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.col1{
    flex-basis: 25%;
    padding: 10px;
}

.logo1{
    width: 250px;
    margin-bottom: 30px;
}

.col1 h3{
    margin-bottom: 40px;
} 

ul li{
    list-style:none;
    margin-bottom: 12px;

}

ul li a{
    text-decoration: none;
    color: #e7dfff;
}


.footertitle {
    text-align: center;
    margin: 30px;
    color:#e7dfff;
    cursor:pointer;    
}
